<table border="0" width="100%">
  <tr>
    <td style="width:41%;">&nbsp;<td>

    <td style="width:18%;">
      <div style="text-align:left;margin-left:2%; line-height:2em;color:#2095C9">
        <h1>Log In</h1>
      </div>
      <%= form_tag sessions_path do %>
      <div class="field">
      <%= label_tag :email %><br>
      <%= text_field_tag :email %>
      </div>
        <div class="field">
          <%= label_tag :password %><br>
      <%= password_field_tag :password %>
      </div>
        <div class="actions">
          <%= submit_tag "Log In" %>
      </div>
      <% end %>
    </td>

    <td style="width:41%;">&nbsp;</td>
  </tr>
</table>
