<!-- <p id="notice"><%#= notice %></p> -->
<% if current_user %>
    <div style="text-align:left;margin-left:2%; line-height:2em;color:#2095C9"><%= link_to 'New Post', new_post_path %>&nbsp;|&nbsp;<%= link_to 'New Topic', new_topic_path %></div>
<% end %>

<div id="forum-view" >
<table style="text-align:center; border-collapse:collapse;">

    <% @posts.each do |post| %>
    <% @topic_title = Topic.find(post.topic_id).title%>
    <% @user_full_name = "#{User.find(post.user_id).first_name} #{User.find(post.user_id).last_name}" %>
      <tr style="background-color:#eee; border:1px dotted #aaa;" >
        <td class="user-full-name" style="width:5%; text-align:center;"><%= @user_full_name %></td> <%# changed to user_id from .user as it was showing the object value <0x0....>, later modified ot show the user's full name %>
        <td style="width:5%;"><%= @topic_title %></td> <%# changed to topic_id from .topic as it was showing the object value <0x0....>, later modified to show the topic's title %>
        <td style="width:50%; text-align:left;">
          <p class="post content"><%= post.content %></p>

          <%# show the Edit link only on the post that the currently logged in user can edit (per our authorize method for editing posts)%>
          <% if current_user && post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%end%>

          <%# we pass the topic id of the post when calling the new action to create a new comment %>
          <p>
            <%= link_to 'Reply to Post', new_comment_path(:topic_id => post.topic_id, :post_id => post.id) %>
          </p>

          <%# Voting %>

          <table class="comments">
            <%@comments.each do |comment|%>

              <% if post.id == comment.post_id && comment.comment_id.nil?%>
              <tr>
                <td>
                  <%= comment.content %>
                  <p>
                    <%= link_to 'Reply to Comment', new_comment_path(:topic_id => post.topic_id, :post_id => post.id, :comment_id => comment.id) %>
                  </p>
                </td>
              </tr>
              <%end%>


              <% if post.id == comment.post_id && comment.comment_id.present?%>
              <tr>
                <td>
                  <%= comment.content %>
                  <p>
                    <%= link_to 'Reply to Comment', new_comment_path(:topic_id => post.topic_id, :post_id => post.id, :comment_id => comment.id) %>
                  </p>
                </td>
              </tr>
              <%end%>


            <% end %>
          </table>

        </td>

        <td style="width:5%;"></td>
      </tr>
    <% end %>

  </table>

  <br>
  <%# Show the link to Create a new post only when the user is logged in %>
  <div style="text-align:right;margin-right:2%;">
    <% if current_user %>
      <%= link_to 'New Post', new_post_path %>
    <% end %>
  </div>

</div>
