<!-- <p id="notice"><%#= notice %></p> -->
<table border="0" width=100%>
  <tr>
    <td style="width:30%;">&nbsp;<td>
    <td style="width:40%;">
<p>
  <strong>User:</strong>
  <%# Added full_name for display purposes originally would instead show the object hex such <User:0x...> when using @post.user%>
  <%full_name = @post.user.first_name + " " + @post.user.last_name %>
  <%= full_name %>
</p>

<p>
  <strong>Topic:</strong>
  <%@topic = Topic.find(@post.topic_id)%>
  <%= @topic.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @post.votes %>
</p>

<%# show edit link only if the page is being viewed by a logged in user %>
<%if current_user%>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
<%= link_to 'Back', posts_path %>
</td>

    <td style="width:41%;">&nbsp;</td>
  </tr>
</table>
